<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>News Source Getter</title>
  </head>
  <body>
    <form method='post' action='/search'>
      <input name='url' type='text' placeholder='type URL'>
      <button type='submit'>search</button>
    </form>
    <p><a href="{{ result }}">{{ result }}</a></p>
    {% if error %}
      <p>{{ error | safe }}</p>
    {% endif %}
    {% if image %}
      <img src="data:image/png;base64,{{ image }}" />
    {% endif %}
  </body>
</html
